@model Microsoft.AspNetCore.
@{
    ViewData["Title"] = "Browse";
    ViewData["Pre"] = 1;
    ViewData["Next"] = 201;
}

<h2>Browse</h2>

<form asp-action="Browse" asp-controller="MarkLogic">
<div class="form-group">
    <input type="button" value="Pre"  />
    <input type="button" value="Next" />
</div>
</form>

