
@{
    ViewData["Title"] = "Download";
}

<h2>Download</h2>

<form asp-action="GetDoc" asp-controller="MarkLogic">
    <div class="form-group">
        <div class="col-md-10">
            <p>Enter the URI of the document you want to download to the sdh5404 database:</p>
            <input type="text" name="uri" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Submit" id="btnSubmit" />
        </div>
    </div>
</form>